img {
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
  animation-name: loader1;
  animation-duration: 5s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: 1;
  /* animation-direction */
  /* animation-fill-mode	 */
  animation-play-state: running;
  animation-fill-mode: forwards;
}
.a {
  transform: translate(-100%, -100%);
  -ms-transform: rotate(-100%, -100%);
  /* IE 9 */
  -moz-transform: rotate(-100%, -100%);
  /* Firefox */
  -webkit-transform: rotate(-100%, -100%);
  /* Safari 和 Chrome */
  -o-transform: rotate(-100%, -100%);
  /* Opera */
}
