img {
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
  animation-name: loader1;
  -moz-animation-name: loader1;
  -o-animation-name: loader1;
  -ms-animation-name: loader1;
  -webkit-animation-name: loader1;
  animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  /* animation-direction */
  /* animation-fill-mode	 */
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes ww {
  0% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  7.07107% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  10% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  12.24745% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  14.14214% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  15.81139% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  17.32051% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  18.70829% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  20% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  21.25% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  22.5% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  23.75% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  25% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  26.25% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  27.5% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  28.75% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  30% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  31.25% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  32.5% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  33.75% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  35% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  36.25% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  37.5% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  38.75% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  40% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  50.78125% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  53.125% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  57.03125% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  62.5% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  69.53125% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  78.125% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  88.28125% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
}

@keyframes ww {
  0% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  7.07107% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  10% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  12.24745% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  14.14214% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  15.81139% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  17.32051% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  18.70829% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  20% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  21.25% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  22.5% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  23.75% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  25% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  26.25% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  27.5% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  28.75% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  30% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  31.25% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  32.5% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  33.75% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  35% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  36.25% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  37.5% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  38.75% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  40% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  50.78125% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  53.125% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  57.03125% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  62.5% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  69.53125% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  78.125% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  88.28125% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
}
/*# sourceMappingURL=scss.css.map */