img {
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
  animation-name: loader1;
  -moz-animation-name: loader1;
  -o-animation-name: loader1;
  -ms-animation-name: loader1;
  -webkit-animation-name: loader1;
  animation-duration: 6s;
  -moz-animation-duration: 6s;
  -o-animation-duration: 6s;
  -ms-animation-duration: 6s;
  -webkit-animation-duration: 6s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: 1;
  /* animation-direction */
  /* animation-fill-mode	 */
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes loader1 {
  0% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  7.07107% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  10% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  12.24745% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  14.14214% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  15.81139% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  17.32051% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  18.70829% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  20% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  20.65789% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  21.31579% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  21.97368% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  22.63158% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  23.28947% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  23.94737% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  24.60526% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  25.26316% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  25.92105% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  26.57895% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  27.23684% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  27.89474% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  28.55263% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  29.21053% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  29.86842% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  30.52632% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  31.18421% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  31.84211% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  32.5% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  33.15789% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  33.81579% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  34.47368% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  35.13158% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  35.78947% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  36.44737% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  37.10526% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  37.76316% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  38.42105% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  39.07895% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  39.73684% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  40.39474% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  41.05263% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  41.71053% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  42.36842% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  43.02632% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  43.68421% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  44.34211% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  45% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
  45.85938% {
    transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
  }
  48.4375% {
    transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
  }
  52.73438% {
    transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    -webkit-transform: translate(0%, -100%);
  }
  58.75% {
    transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
  }
  66.48438% {
    transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
  }
  75.9375% {
    transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
  }
  87.10938% {
    transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
  }
  100% {
    transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
  }
}
