/*
*   1rem 是在html中字体设置的大小。若果设为16px, 0.25rem 相当于4px
*   定义基础组件 margin 范围 0 ~ 3rem ,如有不符合基本变量，可以按照实际情况添加
*/
:root {
  --space-1: .25rem;
  --space-2: .5rem;
  --space-3: .75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.5rem;
  --space-10: 3rem;
}
.p0 {
  margin: 0;
}
.pt0 {
  margin-top: 0;
}
.pr0 {
  margin-right: 0;
}
.pb0 {
  margin-bottom: 0;
}
.pl0 {
  margin-left: 0;
}
.px0 {
  margin-left: 0;
  margin-right: 0;
}
.py0 {
  margin-top: 0;
  margin-bottom: 0;
}
.p1 {
  margin: var(--space-1);
}
.pt1 {
  margin-top: var(--space-1);
}
.pr1 {
  margin-right: var(--space-1);
}
.pb1 {
  margin-bottom: var(--space-1);
}
.pl1 {
  margin-left: var(--space-1);
}
.py1 {
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
}
.px1 {
  margin-left: var(--space-1);
  margin-right: var(--space-1);
}
.p2 {
  margin: var(--space-2);
}
.pt2 {
  margin-top: var(--space-2);
}
.pr2 {
  margin-right: var(--space-2);
}
.pb2 {
  margin-bottom: var(--space-2);
}
.pl2 {
  margin-left: var(--space-2);
}
.py2 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}
.px2 {
  margin-left: var(--space-2);
  margin-right: var(--space-2);
}
.p3 {
  margin: var(--space-3);
}
.pt3 {
  margin-top: var(--space-3);
}
.pr3 {
  margin-right: var(--space-3);
}
.pb3 {
  margin-bottom: var(--space-3);
}
.pl3 {
  margin-left: var(--space-3);
}
.py3 {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
}
.px3 {
  margin-left: var(--space-3);
  margin-right: var(--space-3);
}
.p4 {
  margin: var(--space-4);
}
.pt4 {
  margin-top: var(--space-4);
}
.pr4 {
  margin-right: var(--space-4);
}
.pb4 {
  margin-bottom: var(--space-4);
}
.pl4 {
  margin-left: var(--space-4);
}
.py4 {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
}
.px4 {
  margin-left: var(--space-4);
  margin-right: var(--space-4);
}
.p5 {
  margin: var(--space-5);
}
.pt5 {
  margin-top: var(--space-5);
}
.pr5 {
  margin-right: var(--space-5);
}
.pb5 {
  margin-bottom: var(--space-5);
}
.pl5 {
  margin-left: var(--space-5);
}
.py5 {
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
}
.px5 {
  margin-left: var(--space-5);
  margin-right: var(--space-5);
}
.p6 {
  margin: var(--space-6);
}
.pt6 {
  margin-top: var(--space-6);
}
.pr6 {
  margin-right: var(--space-6);
}
.pb6 {
  margin-bottom: var(--space-6);
}
.pl6 {
  margin-left: var(--space-6);
}
.py6 {
  margin-top: var(--space-6);
  margin-bottom: var(--space-6);
}
.px6 {
  margin-left: var(--space-6);
  margin-right: var(--space-6);
}
.p7 {
  margin: var(--space-7);
}
.pt7 {
  margin-top: var(--space-7);
}
.pr7 {
  margin-right: var(--space-7);
}
.pb7 {
  margin-bottom: var(--space-7);
}
.pl7 {
  margin-left: var(--space-7);
}
.py7 {
  margin-top: var(--space-7);
  margin-bottom: var(--space-7);
}
.px7 {
  margin-left: var(--space-7);
  margin-right: var(--space-7);
}
.p8 {
  margin: var(--space-8);
}
.pt8 {
  margin-top: var(--space-8);
}
.pr8 {
  margin-right: var(--space-8);
}
.pb8 {
  margin-bottom: var(--space-8);
}
.pl8 {
  margin-left: var(--space-8);
}
.py8 {
  margin-top: var(--space-8);
  margin-bottom: var(--space-8);
}
.px8 {
  margin-left: var(--space-8);
  margin-right: var(--space-8);
}
.p9 {
  margin: var(--space-9);
}
.pt9 {
  margin-top: var(--space-9);
}
.pr9 {
  margin-right: var(--space-9);
}
.pb9 {
  margin-bottom: var(--space-9);
}
.pl9 {
  margin-left: var(--space-9);
}
.py9 {
  margin-top: var(--space-9);
  margin-bottom: var(--space-9);
}
.px9 {
  margin-left: var(--space-9);
  margin-right: var(--space-9);
}
.p10 {
  margin: var(--space-10);
}
.pt10 {
  margin-top: var(--space-10);
}
.pr10 {
  margin-right: var(--space-10);
}
.pb10 {
  margin-bottom: var(--space-10);
}
.pl10 {
  margin-left: var(--space-10);
}
.py10 {
  margin-top: var(--space-10);
  margin-bottom: var(--space-10);
}
.px10 {
  margin-left: var(--space-10);
  margin-right: var(--space-10);
}
